---
layout: content_no_sidenav.liquid
title: Team
---
<head>
    <link rel="stylesheet" href="/css/team.css" type="text/css">
</head>
<br />
<div style="display: flex; justify-content: center; width: 100%; height: 22em;">
    <img src="/assets/img/Team/team.jpeg">
</div>
<div style="text-align: center;"><em>(most of) Team UNSW Australia 2021!</em></div>
<br />
<h2 style="text-align: center;">Members</h2>
<div class="row row-cols-6">
    <!-- {% assign sortedMembers = collections.team | sortByName %}
    {% for person in sortedMembers %} {% endfor %}-->
    {% for person in collections.team %}
      <div class="col">
          <div class="card"
          data-bs-toggle="modal" data-bs-target={{"#" | append: person.data.name }}>
              <img src={{ person.data.photo }} class="card-img-top" alt="Name">
              <div class="card-body">
                <div class="card-text name"><b>{{ person.data.name }}</b></div>
                <div class="card-text" style="font-size: 0.8em;">{{ person.data.role }}</div>
              </div>
          </div>
      </div>
    {% endfor %}
</div>

{% for person in collections.team %}
  <div class="modal fade" id={{person.data.name}} tabindex="-1" aria-labelledby={{person.data.name | append: " modal"}} aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                <div style="display: flex; flex-direction: row;">
                  <div style="width: 50%; ">
                    <img src={{ person.data.photo }} height="100%" width="100%" style="border-radius: 0.2em;">
                  </div>
                  <div style="padding: 2em;">
                    <h3 class="modal-title">
                      {{ person.data.name }}
                    </h3>
                    <h5 class="modal-title">
                      {{ person.data.role }}
                    </h5>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
              </div>
              <div class="modal-body">
                {{ person.templateContent }}
              </div>
          </div>
      </div>
  </div>
{% endfor %}


<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>