---
layout: content_no_sidenav.liquid
title: Team
---
<head>
    <link rel="stylesheet" href="/css/team.css" type="text/css">
</head>

<div style="padding: 1em;">
<div style="text-align: center;">
  The 2021 UNSW iGEM Team is composed of 15 undergraduate students studying a range of disciplines across science, engineering, business and design.
  <br />
  The team is supported by Dr. Dominic Glover (PI), and mentors Joshua McCluskey, Gustave Severin and Sakthirupini Ramamurthy.
</div>
<div id="teamPhoto">
    <img src="/assets/img/Team/team.jpg">
</div>


<br /><br />
<h2 style="text-align: center;">Members</h2>
<div class="row row-cols-lg-6">
    {% assign sortedMembers = collections.team | sortByName %}
    {% for person in sortedMembers %}
      <div class="col">
          <div class="card"
          data-bs-toggle="modal" data-bs-target={{"#" | append: person.data.name }}>
              <img src={{ person.data.photo }} class="card-img-top" alt="Name">
              <div class="card-body">
                <div class="card-text name"><b>{{ person.data.name }}</b></div>
                <div class="card-text">{{ person.data.role }}</div>
              </div>
          </div>
      </div>
    {% endfor %}
</div>

</div>

{% for person in collections.team %}
  <div class="modal fade" id={{person.data.name}} tabindex="-1" data-bs-backdrop="true"
  aria-labelledby={{person.data.name | append: " modal"}} aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                <div style="display: flex; flex-direction: row;">
                  <div class="modal-img-container">
                    <img src={{ person.data.photo }} height="100%" width="100%" style="border-radius: 0.2em;">
                  </div>
                  <div style="padding: 2em;">
                    <h3 class="modal-title">
                      {{ person.data.name }}
                    </h3>
                    <h5 class="modal-title">
                      {{ person.data.role }}
                    </h5>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="align-self: flex-start;"></button>
              </div>
              <div class="modal-body">
                {{ person.templateContent }}
              </div>
          </div>
      </div>
  </div>
{% endfor %}
<br />
<div id="teamModalBackdrop" class="modal-backdrop fade show"></div>

<!-- <script src="/js/bootstrap/bootstrap.bundle.min.js"></script> -->
<script>
  let modalBackdrop = document.getElementById("teamModalBackdrop")

  let modals = document.getElementsByClassName('modal');
  for (let m of modals) {
    m.addEventListener('show.bs.modal', function (event) {
      modalBackdrop.style.visibility = "visible";
      modalBackdrop.style.opacity = "1";
    })
    m.addEventListener('hide.bs.modal', function (event) {
      modalBackdrop.style.opacity = "0";
      modalBackdrop.style.visibility = "hidden"
    })
  }

</script>