---
layout: content_no_sidenav.liquid
---

<head>
    <link rel="stylesheet" href="/css/sidenav.css">
</head>
<body  data-bs-spy="scroll" data-bs-target="#sidenav" data-bs-offset="100" tabindex="0">

    <!-- This website uses Font Awesome icons, which are licensed under the Creative Commons Attribution 4.0 International license -->
    <!-- The licence is available at: https://fontawesome.com/license -->
    <!-- Fill color of icons were changed -->
    
    <div class="row" style="padding: 2em; width: calc(100% - 4em);">
        <div class="col-3 sidenav" style="width: 23%;">
            <nav id="sidenav" class="navbar navbar-light flex-column align-items-stretch">
                <a class="nav-link" href="#"><h5>{{ title }}</h5></a>

                {% for heading in headings %}

                    {% if heading.icon or heading.no_icon_subheading %}
                        <a class="nav-link" href={{ "#" | append: heading.id }} style="display: flex; align-items: center;">

                            {% if heading.icon %}
                                {% assign type = heading.icon | slice: -3, 2 %}
                                <!-- {{ type }} -->
                                {% if type == 'sv' %}
                                    <img src={{ heading.icon }} class="icon">
                                {% else %}
                                    <img src={{ heading.icon }} class="icon rounded-icon">
                                {% endif %}
                                <span style="padding-left: 0.4vw;">
                                    {{ heading.title }}
                                </span>
                            {% else %}
                                <span>
                                    {{ heading.title }}
                                </span>
                            {% endif %}
                        </a>
                        
                    {% else %}
                        <a class="nav-link"  href={{ "#" | append: heading.id }}><h5>{{ heading.title }}</h5></a>
                    {% endif %}

                {% endfor %}
            </nav>
        </div>

        
        <div class="col content">
            {{ content }}
        </div>

    </div>
    
</body>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>