---
layout: content_no_sidenav.liquid
---

<head>
    <link rel="stylesheet" href="/css/sidenav.css">
</head>
<body  data-bs-spy="scroll" data-bs-target="#sidenav" data-bs-offset="100" tabindex="0">

    <div class="row" style="padding: 2em; width: calc(100% - 4em);">
        <div class="col-3 sidenav" style="width: 23%;">
            <nav id="sidenav" class="navbar navbar-light flex-column align-items-stretch">
                <a class="nav-link" href="#"><h5>{{ title }}</h5></a>

                {% for heading in headings %}
                    <a class="nav-link" href={{ "#" | append: heading.id }}>
                        <img src={{ heading.icon }} class="icon">
                        {{ heading.title }}
                    </a>
                {% endfor %}
            </nav>
        </div>

        
        <div class="col content">
            {{ content }}
        </div>

    </div>
    
</body>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>